@media screen and (min-width: 399px){
	.top-title{
		&::before,&::after{
			top: 75px;
		}
	}
}
@media screen and (min-width: 768px){
	.banner{
		&__buttons{
			flex-direction: row;
		}
		&__btn{
			margin: 0;
			margin-right: 20px;
		}
	}
}
@media screen and (min-width: 992px){
	.nav{
		position: static;
		background-color: unset;
		width: unset;
		height: unset;
		justify-content: unset;
		flex-direction: unset;
		transform: unset;
		&__link{
			margin: 0;
			margin-right: 30px;
		}
	}
	.hamburger{
		display: none !important;
	}
	.banner{
		&__info{
			text-align: unset;
			margin: 0;
		}
		&__image{
			display: block;
			margin-bottom: -120px;
		}
		&__buttons{
			flex-direction: row;
			justify-content: unset;
		}
	}
	.details{
		&__info{
			margin: 0;
			text-align: unset;
		}
		&__image{
			display: block;
		}
		&__title{
			&::before,&::after{
				left: 25px;
			}
		}
		&__list-item{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-bottom: 20px;
		}
	}
	.pricing{
		&-carousel{
			&__item{
				flex-direction: row;
				justify-content: space-between;
			}
			&__left{
				margin: 0;
			}
		}
	}
}