@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700);
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import '../node_modules/bootstrap/scss/mixins/_clearfix';
@import '../node_modules/bootstrap/scss/mixins/_transition';
@import '../node_modules/bootstrap/scss/_carousel';
@import './default';
@import './mixin';
$blue: #008ed6;
$text-black: #1a1a1a;
$text-gray: #999;
.header{
	min-height: 640px;
	max-width: 100%;
	overflow: hidden;
	background: 
		linear-gradient(135deg, #17151cdc 0%, #17151cea 100%),
		url(../img/header_bg.jpg) center center no-repeat;
	margin-bottom: 4.0625rem;
}
.navbar{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #17151c;
	padding: 1rem 0;
	z-index: 1000;
	&__content{
		@include space-between;
	}
}
.logo{
	text-transform: uppercase;
	font-size: 1.5rem;
	color: #ffffff;
	font-weight: 700;
	font-family: "Quicksand";
	&__link{
		display: flex;
		align-items: center;
	}
	&__span{
		display: inline-block;
		margin-left: 0.4375rem;
		font-size: 0.5625rem;
		letter-spacing: 1px;
		line-height: 0.625rem;
		color: #ffffff;
		font-weight: 400;
		opacity: .5;
		font-family: "Source Sans Pro";
	}
}
.nav{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #17151c;
	width: 100%;
	height: 100%;
	@include flex-center;
	flex-direction: column;
	transform: translateX(100%);
	transition: .5s ease-in-out;
	&__link{
		font-size: 1rem;
		color: #fffefe;
		font-weight: 600;
		margin-bottom: 30px;
		position: relative;
		transition: .4s;
		&::before,&::after{
			position: absolute;
			content: '';
			background-color: $blue;
			width: 20px;
			height: 2px;
			top: 30px;
			opacity: 0;
			transition: .4s ease-in-out;
		}
		&::before{
			left: 50%;
			transform: translateX(-105%);
		}
		&::after{
			transform: translateX(5%);
			left: 50%;
		}
		&:hover{
			&::before,&::after{
				opacity: 1;
			}
		}
	}
	&__link-active{
		position: relative;
		&::before,&::after{
			position: absolute;
			content: '';
			background-color: $blue;
			width: 20px;
			height: 2px;
			top: 30px;
			opacity: 1;
			transition: .4s ease-in-out;
		}
		&::before{
			left: 50%;
			transform: translateX(-105%);
		}
		&::after{
			transform: translateX(5%);
			left: 50%;
		}	
	}
}
.hamburger{
	display: block;
}
.nav.active{
	transform: translateX(0);
}
.banner{
	padding-top: 9.375rem;
	&__content{
		@include space-between;
	}
	&__info{
		max-width: 490px;
		margin: 0 auto;
		text-align: center;
	}
	&__span{
		text-transform: uppercase;
		font-size: 0.875rem;
		color: $blue;
		font-weight: 700;
	}
	&__title{
		font-size: 3rem;
		font-weight: 700;
		color: #fff;
		line-height: 3rem;
		margin: 20px 0;
	}
	&__text{
		color: $text-gray;
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 3.125rem;
	}
	&__image{
		display: none;
	}
	&__img{
		width: 100%;
	}
	&__buttons{
		@include flex-center;
		flex-direction: column;
	}
	&__btn{
		text-transform: uppercase;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		width: 160px;
		text-align: center;
		padding: 20px 0;
		border: 1px solid rgba(255,255,255,0.2);
		margin-bottom: 1.25rem;
		border-radius: 5px;
		transition: .4s ease-in-out;
		&:hover{
			background-color: $blue;
			border: 1px solid $blue;
		}
	}
}
.top-text{
	text-align: center;	
}
.top-span{
	display: inline-block;
	font-size: 0.875rem;
	color: $blue;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 0.9375rem;
}
.top-title{
	font-size: 2.25rem;
	color: $text-black;
	font-weight: 600;
	position: relative;
	margin-bottom: 6.25rem;
	&::before,&::after{
		position: absolute;
		content: '';
		background-color: $blue;
		width: 20px;
		height: 2px;
		top: 120px;
	}
	&::before{
		left: 50%;
		transform: translateX(-105%);
	}
	&::after{
		transform: translateX(5%);
		left: 50%;
	}
}
.overview{
	min-height: 28.125rem;
	border-bottom: 1px solid #ededed;
	width: 100%;
	margin-bottom: 4.0625rem;
	&__card{
		text-align: center;
		margin-bottom: 50px;
		&-info{
			max-width: 230px;
			margin: 0 auto;
		}
		&-title{
			font-size: 24px;
			color: $text-black;
			font-weight: 400;
			margin-bottom: 15px;
		}
		&-text{
			font-size: 18px;
			color: $text-gray;
			font-weight: 400;
			line-height: 27px;
		}
	}
	&__image{
		@include flex-center;
		margin: 0 auto;
		border-radius: 50%;
		width: 89px;
		height: 89px;
		border: 1px solid #e0e0e0;
		margin-bottom: 2.1875rem;
	}
}